.form__field {
  width: 100%;
  min-height: 27px;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  outline: none;
}

.form__field::-webkit-input-placeholder {
  color: #C4C4C4;
}

.form__field::-moz-placeholder {
  color: #C4C4C4;
}

.form__field::-ms-input-placeholder {
  color: #C4C4C4;
}

.form__field::placeholder {
  color: #C4C4C4;
}

/* обход слета стилей при автозаполнении */
.form__field:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff;
  -webkit-text-fill-color: #000;
}